{% extends "base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>Политика конфиденциальности</h2>
        </div>
        
        <div class="privacy-content">
            <h3>1. Сбор информации</h3>
            <p>Мы собираем только необходимую информацию для работы сайта, например ваш ip адрес.</p>
            
            <h3>2. Использование данных</h3>
            <p>Ваши данные используются исключительно для продажи их на чёрном рынке.</p>
            
            <h3>3. Защита информации</h3>
            <p>Мы применяем современные методы защиты, а именно абьюз.</p>
        </div>
    </div>
</section>
{% endblock %}